{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}search result{% endblock title %}
{% block body %}
    <div class="breadcrumb">
        <a href="#">{{ query }}</a>
        <span>></span>
        <a href="#">The search results are as follows:</a>
    </div>

    <div class="main_wrap clearfix">
            <ul class="product_type_list clearfix">
                {% for item in page %}
                    <li>
                        <a href="{% url 'products:detail' products_id=item.object.id %}"><img src="/media/{{ item.object.image }}"></a>
                        <h4><a href="{% url 'products:detail' products_id=item.object.id %}">{{ item.object.name }}</a></h4>
                        <div class="operate">
                            <span class="price">￥{{ item.object.price }}</span>
                            <span class="unit">{{ item.object.unit }}</span>
                            <a href="#" class="add_products" title="add to cart"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="/search/?q={{ query }}&page={{ page.previous_page_number }}"> previous </a>
                {% endif %}
                {% for pindex in paginator.page_range %}
                    {% if pindex == page.number %}
                        <a href="/search/?q={{ query }}&page={{ pindex }}" class="active">{{ pindex }}</a>
                    {% else %}
                        <a href="/search/?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                    <a href="/search/?q={{ query }}&page={{ page.next_page_number }}">next</a>
                {% endif %}
            </div>
    </div>
{% endblock body %}
