{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}
{% block topfiles %}
    <style>
    .price{
        color: red;
         text-align:center;
        font-size:24px;
    }

    </style>
{% endblock topfiles %}
{% block body %}

    <div class="navbar_con" >
        <div class="navbar">
            <h1 class="fl">hot goods</h1>
            <ul class="navlist fl">
                <li><a href="">home</a></li>

            </ul>
        </div>
    </div>

    <div class="center_con clearfix">
        <ul class="subnav fl">
            {% for pt in products_type %}
                <li><a href="#model0{{ pt.type_id }}" >{{ pt.name}}</a></li>
            {% endfor %}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                <li><img src="{% static 'images/slide.jpg' %}" alt="slide" style="width: 760px; height: 270px;"></li>
                <li><img src="{% static 'images/slide02.jpg' %}" alt="slide" style="width: 760px; height: 270px;"></li>
                <li><img src="{% static 'images/slide03.jpg' %}" alt="slide" style="width: 760px; height: 270px;"></li>
                <li><img src="{% static 'images/slide04.jpg' %}" alt="slide" style="width: 760px; height: 270px;"></li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="{% static 'images/adv01.jpg' %}" style="width: 240px; height: 135px;"></a>
            <a href="#"><img src="{% static 'images/adv02.jpg' %}" style="width: 240px; height: 135px;"></a>
        </div>
    </div>




        {% for pt in products_type %}
    <div class="list_model">
                <div class="list_title clearfix">
                    <h3 class="fl" id="model0{{ pt.type_id }}" >{{ pt.name}}</h3>
                    <a href="{% url 'products:list'  page=1 type_id=pt.type_id%}" class="product_more fr">more ></a>
                </div>

                <div class="product_con clearfix">
                    <div class="product_banner fl"><img src="/media/{{ pt.image }}"></div>
                            <ul class="product_list fl">
                        {% for products in index_products %}
                                {% for product in products %}
                                        {% if product.status == 1 %}
                                            {% if product.type_id_id == pt.type_id%}

                                                <li>
                                                    <h4 style="color: #1E0FBE"><a href="{% url 'products:detail' products_id=product.id   %}">{{ product.name}}</a></h4>
                                                    <a href="{% url 'products:detail' products_id=product.id  %}"><img src="/media/{{ product.image }}"></a>
                                                    <div class="price">¥ {{ product.price }}</div>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                {% endfor %}
                        {% endfor %}

                            </ul>
                     </div>
    </div>

    {% endfor %}

{% endblock body %}
