{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}detail{% endblock title %}
{% block body %}
    <div class="navbar_con">
        {% csrf_token %}
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>product detail</h1>

            </div>
            <ul class="navlist fl">
                <li><a href="/">Home</a></li>
                <li class="interval">|</li>
            </ul>
        </div>
    </div>



    <div class="product_detail_con clearfix">
        <div class="product_detail_pic fl"><img width="250px" height="290px" src="/media/{{ products.image }}"></div>

        <div class="product_detail_list fr">
            <h3>{{ products.name }}</h3>
            <p>{{ products.desc }}</p>
            <div class="price_bar">
                <span class="show_pirze">Unit price <em>{{ products.price }} $</em></span>
                <span class="show_unit">Unit：{{ products.unit }}</span>
                <span class="show_unit">Stock：{{ products.stock }}</span>
            </div>
            <div class="product_num clearfix">
                <div class="num_name fl">num：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">total：<em>100$</em></div>
            <div class="operate_btn">
                <a href="javascript:;" products_id="{{ products.id }}" class="add_cart" id="add_cart">add cart</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_product">
                <h3>New Arrivals</h3>
                <ul>
                    {% for product in products_li %}
                    <li>
                        <a href="{% url 'products:detail' products_id=products.id %}"><img src="/media/{{product.image}}"></a>
                        <h4><a href="{% url 'products:detail' products_id=products.id %}">{{ product.name }}</a></h4>
                        <div class="price">${{ product.price }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">Product introduction</li>
            </ul>

            <div class="tab_content">
                <dl>
                    <dt>Product detail：</dt>
                    <dd>{{ products.detail | safe }}</dd>
                </dl>
            </div>

        </div>
    </div>
    <div class="add_jump"></div>
    <script type="text/javascript">
    $(function() {
        $('#add_cart').click(function(){
            var products_id = $(this).attr('products_id');
            var products_count = $('.num_show').val();
            var csrf = $('input[name="csrfmiddlewaretoken"]').val();
            var params = {
                'products_id': products_id,
                'products_count': products_count,
                'csrfmiddlewaretoken': csrf
            }
            $.post('/cart/add/', params, function (data) {
                if (data.res == 5){
                    var count = $('#show_count').html();
                    var count = parseInt(count) + parseInt(products_count);
                    $('#show_count').html(count);
                } else {
                    {#alert(data.errmsg)#}
                    if(data.errmsg==null){
                        alert("Can't buy without login")
                    }else{
                        alert(data.errmsg)
                    }

                }
            })
        })
    })
    </script>
{% endblock body %}
{% block topfiles %}
<script>
$(function () {
    update_total_price()
    function update_total_price() {
        products_price = $('.show_pirze').children('em').text()
        products_count = $('.num_show').val()
        products_price = parseFloat(products_price)
        products_count = parseInt(products_count)
        total_price = products_price * products_count
        $('.total').children('em').text(total_price.toFixed(2) + '元')
    }
    $('.add').click(function () {
        products_count = $('.num_show').val()
        products_count = parseInt(products_count) + 1
        $('.num_show').val(products_count)
        update_total_price()
    })
    $('.minus').click(function () {
        products_count = $('.num_show').val()
        products_count = parseInt(products_count) - 1
        if (products_count == 0){
            products_count = 1
        }
        $('.num_show').val(products_count)
        update_total_price()
    })

    $('.num_show').blur(function () {
        products_count = $(this).val()
        if (isNaN(products_count) || products_count.trim().length == 0 || parseInt(products_count) <= 0 ){
            products_count = 1
        }

        $('.num_show').val(parseInt(products_count))
        update_total_price()
    })
})
</script>
{% endblock topfiles %}
