{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}user center{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>user center</h3>
            <ul>
                <li><a href="{% url 'user:user' %}" class="active">· personal</a></li>
                <li><a href="{% url 'user:order' %}">· all orders</a></li>
                <li><a href="{% url 'user:address' %}">· address</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
                <div class="info_con clearfix">
                <h3 class="common_title2">base information</h3>
                        <ul class="user_info_list">
                            <li><span>username：</span>{{ request.session.username }}</li>
                            {% if addr %}
                                <li><span>phone：</span>{{ addr.recipient_phone }}</li>
                                <li><span>address：</span>{{ addr.recipient_addr }}</li>
                            {% else %}
                                <li><span>phone：</span>none</li>
                                <li><span>address：</span>none</li>
                            {% endif %}
                        </ul>
                </div>
                
                <h3 class="common_title2">Recent browsing</h3>
                <div class="has_view_list">
                    <ul class="product_type_list clearfix">
                        {% for products in products_li %}
                            <li>
                                <a href="{% url 'products:detail' products_id=products.id %}"><img src="/media/{{ products.image }}"></a>
                                <h4><a href="{% url 'products:detail' products_id=products.id %}">{{ products.name }}</a></h4>
                                <div class="operate">
                                    <span class="prize">￥{{ products.price }}</span>
                                    <span class="unit">{{ products.unit }}</span>
                                    <a href="#" class="add_products" title="add to cart"></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
    </div>
{% endblock body %}
