<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
    {% block topfiles %}
    {% endblock topfiles %}
</head>
<body style="background: url(/static/images/bg.jpg) ; background-size:100% 100% ; background-attachment: fixed" >
<div class = "bodycontainer" >
{% block header_con %}
    <div class="header_con" >
        <div class="header">
            <div class="welcome fl"></div>
            <div class="fr">
                {% if request.session.islogin %}
                <div class="login_btn fl">
                    welcome：<em>{{ request.session.username }}</em>
                    <span>|</span>
                    <a href="{% url 'user:logout' %}">logout</a>
                </div>
                {% else %}
                <div class="login_btn fl">
                    <a href="{% url 'user:login' %}">login</a>
                    <span>|</span>
                    <a href="{% url 'user:register' %}">register</a>
                </div>
                {% endif %}
                <div class="user_link fl">
                    <span>|</span>
                    <a href="{% url 'user:user' %}">user center</a>
                    <span>|</span>
                    <a href="{% url 'cart:show' %}">my cart</a>
                    <span>|</span>
                    <a href="{% url 'user:order' %}">my order</a>
                </div>
            </div>
        </div>      
    </div>
{% endblock header_con %}
{% block search_bar %}
    <div class="search_bar clearfix">
        <a href="{% url 'products:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}" style="width: 160px; height: 53px;"></a>
        <div class="search_con fl">
            <form method='get' action="/search/" target="_blank">
                <input type="text" class="input_text fl" name="q" placeholder="search">
                <input type="submit"  class="input_btn fr" value="search">
            </form>
        </div>
        <div class="guest_cart fr">
            <a href="{% url 'cart:show' %}" class="cart_name fl">cart</a>
            <div class="product_count fl" id="show_count">0</div>
        </div>
    </div>
{% endblock search_bar %}
{% block body %}{% endblock body %}
    <div class="footer">
        <div class="foot_link">

        </div>
        <p>CopyRight © 2021 xxx All Rights Reserved</p>
    </div>
    {% block bottom %}{% endblock bottom %}
    {% block bottomfiles %}{% endblock bottomfiles %}
    {% block cart_count %}
        <script>
            $.get('/cart/count/', function (data) {
                $('#show_count').html(data.res)
            })
        </script>
    {% endblock cart_count %}
</div>
</body>
</html>
