{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}
{% block title %}order{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}

    <div class="main_con clearfix">
        {% csrf_token %}
        <div class="left_menu_con clearfix">
            <h3>user center</h3>
            <ul>
                <li><a href="{% url 'user:user' %}">· personal</a></li>
                <li><a href="{% url 'user:order' %}" class="active">· all orders</a></li>
                <li><a href="{% url 'user:address' %}">· address</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">

                {% csrf_token %}
                <h3 class="common_title2">all orders</h3>
                {# OrderInfo #}
                {% for order in order_li %}
                <ul class="order_list_th w978 clearfix">
                    <li class="col01">{{ order.create_time }}</li>
                    <li class="col02">order id：{{ order.order_id }}</li>
                    <li class="col02 stress">{{ order.status | order_status }}</li>
                </ul>

                <table class="order_list_table w980">
                    <tbody>
                        <tr>
                            <td width="55%">
                                {# 遍历出来的order_products是一个OrderGoods对象 #}
                                {% for order_products in order.order_products_li %}
                                <ul class="order_product_list clearfix">
                                    <li class="col01"><img src="/media/{{ order_products.products.image }}"></li>
                                    <li class="col02">{{ order_products.products.name }}<em>{{ order_products.products.price }}$/{{ order_products.products.unit }}</em></li>
                                    <li class="col03">{{ order_products.count }}piece</li>
                                    <li class="col04">{{ order_products.amount }}$</li>
                                </ul>
                                {% endfor %}
                            </td>
                            <td width="15%">{{ order.total_price }}$</td>
                           {% if order.status == 1 %}
                               <td width="15%"> {{ order.get_status_display }}</td>
                            {% else %}
                                <td width="15%"> paid</td>
                            {% endif %}
                            <td width="15%"><a href="/order/deleteOrder?order_id={{ order.order_id }}"  class="oper_btn">delete</a></td>


                        </tr>
                    </tbody>
                </table>
                {% endfor %}

                <div class="pagenation">
                    {% if order_li.has_previous %}
                        <a href="{% url 'user:order' page=order_li.previous_page_number %}">previous</a>
                    {% endif %}
                    {% for page in pages %}
                        {% if page == order_li.number %}
                            <a href="{% url 'user:order' page=page %}" class="active">{{ page }}</a>
                        {% else %}
                            <a href="{% url 'user:order' page=page %}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if order_li.has_next %}
                        <a href="{% url 'user:order' page=order_li.next_page_number %}">next</a>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock body %}
{% block bottomfiles%}
<script>
$(function () {

    $('.oper_btn').click(function () {
        // 获取订单id和订单的状态
        var order_id = $(this).attr('order_id')
        var order_status = $(this).attr('order_status')
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        var params = {
            'order_id': order_id,
            'csrfmiddlewaretoken': csrf
        }
        if (order_status == 1){
            $.post('/order/pay/', params, function (data) {
                if (data.res == 3){
                    // 把用户引导支付页面
                    window.open(data.pay_url)
                    // 查询用户的支付结果
                }
                else{
                    alert(data.errmsg)
                }
            })
        }
    })
})
</script>
{% endblock bottomfiles %}
