{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}my order {% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}

    <h3 class="common_title">confirm address</h3>

    <div class="common_list_con clearfix">
        <dl>
            <dt>Send to：</dt>
            <dd><input type="radio" name="addr_id" value="{{ addr.id }}" checked="">{{ addr.recipient_addr }} （{{ addr.recipient_name }} receive） {{ addr.recipient_phone }}</dd>
        </dl>
        <a href="/user/address" class="edit_site">edit address</a>

    </div>

    <h3 class="common_title">pay method</h3>
    <div class="common_list_con clearfix">
        <div class="pay_style_con clearfix">
            <input type="radio" name="pay_style" value="2">
            <label class="weixin">wechat</label>
            <input type="radio" name="pay_style" value="3" checked>
            <label class="zhifubao"></label>
            <input type="radio" name="pay_style" value="4">
            <label class="bank">card</label>
             <input type="radio" name="pay_style" value="5">
            <label class="paypal"></label>
        </div>
    </div>

    <h3 class="common_title">Product list</h3>
    <div class="common_list_con clearfix">
        <ul class="product_list_th clearfix">
            <li class="col01">name</li>
            <li class="col02">unit</li>
            <li class="col03">price</li>
            <li class="col04">num</li>
            <li class="col05">total</li>
        </ul>
        {% for product in products_li %}
        <ul class="product_list_td clearfix">
            <li class="col01">{{ forloop.counter }}</li>
            <li class="col02"><img src="/media/{{product.image}}"></li>
            <li class="col03">{{ product.name }}</li>
            <li class="col04">{{ product.unit }}</li>
            <li class="col05">{{ product.price }}元</li>
            <li class="col06">{{ product.count }}</li>
            <li class="col07">{{ product.amount }}元</li>
        </ul>
        {% endfor %}
    </div>
    <h3 class="common_title">amount</h3>
    <div class="common_list_con clearfix">
        <div class="settle_con">
            <div class="total_product_count">total<em>{{ total_count }}</em>piece，total<b>{{ total_price }}$</b></div>
            <div class="transit">charge：<b>{{ transit_price }}$</b></div>
            <div class="total_pay">total pay：<b>{{ total_pay }}$</b></div>
        </div>
    </div>

    <div class="order_submit clearfix">
        <a href="javascript:;" id="order_btn" products_ids="{{ products_ids }}">order submit</a>
        {% csrf_token %}
    </div>
{% endblock body %}
{% block bottom %}
    <div class="popup_con">
        <div class="popup">
            <p>Order submitted successfully！</p>
        </div>
        <div class="mask"></div>
    </div>
{% endblock bottom %}
{% block bottomfiles %}
<script type="text/javascript">
    $('#order_btn').click(function() {
        var addr_id = $('input[name="addr_id"]').val()
        var pay_method = $('input[name="pay_style"]:checked').val()
        var products_ids = $(this).attr('products_ids')
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        var params = {
            'addr_id': addr_id,
            'pay_method': pay_method,
            'products_ids': products_ids,
            'csrfmiddlewaretoken': csrf
        }
        $.post('/order/commit/', params, function (data) {
            if (data.res == 6){
                $('.popup_con').fadeIn('fast', function() {
                    setTimeout(function(){
                        $('.popup_con').fadeOut('fast',function(){
                            window.location.href = '/user/order/';
                        });
                    },3000)

                });
            }
            else {
                alert(data.errmsg)
            }
        })
    });
    </script>
{% endblock bottomfiles %}
